Source: alsa-utils
Section: core
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Uploaders: Yauhen Kharuzhy <jekhor@gmail.com>
Build-Depends: debhelper (>=7), libncurses5-dev, autotools-dev, quilt (>= 0.40), libasound2-dev (>= 1.0.18)
XCS-Cross-Build-Depends: libncurses5-dev, libasound2-dev (>= 1.0.18)
XCS-Cross-Host-Build-Depends: debhelper (>=7), autotools-dev, quilt (>= 0.40)
Standards-Version: 3.8.2
Homepage: http://www.alsa-project.org/
Vcs-Git: git://git.iplinux.org/alsa-utils.git
Vcs-Browser: http://git.iplinux.org/alsa-utils.git/

Package: alsa-utils
Architecture: all
Depends: ${shlibs:Depends}
Description: ALSA utilities
 This package contains utilities for configuring and using ALSA, including:
  o amixer: command line mixer
  o alsamixer: curses mixer
  o aplay, arecord: command line playback and recording
  o alsactl: advanced controls for sound cards
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: alsa-utils-midi
Architecture: all
Depends: ${shlibs:Depends}
Description: ALSA utilities -- MIDI
 This package contains utilities for using MIDI in ALSA, including:
  o aplaymidi, arecordmidi: command line MIDI playback and recording
  o aconnect, aseqnet, aseqdump: command line MIDI sequencer playback and recording
  o amidi: read from and write to ALSA RawMIDI ports
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: alsa-utils-speaker-test
Architecture: all
Depends: ${shlibs:Depends}
Description: ALSA utilities -- speaker-test
 This package contains speaker-test utility for ALSA, providing ability to test
 different configuration of speakers.
 .
 ALSA is the Advanced Linux Sound Architecture.
